@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    font-family: 'Inter', sans-serif; /* پیش‌فرض انگلیسی */
}

html[lang="fa"] {
    font-family: 'Vazirmatn', sans-serif; /* برای زبان فارسی */
}

html[lang="ar"] {
    font-family: 'Amiri', serif; /* برای زبان عربی */
}


canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
